
// Nextflow configuration for your pipeline

params {
    fastqc_dir =  "/home/karuna0722/Nextflow/Data/Sample.fastq"    
    reference =   "/home/karuna0722/Nextflow/reference/chr22.fa"

    fastqc_bin = "/home/karuna0722/enter/envs/bnf/bin/fastqc"  
    cutadapt_bin ="/home/karuna0722/enter/envs/bnf/bin/cutadapt"
    bwa_bin ="/home/karuna0722/enter/envs/bnf/bin/bwa"
    samtools_bin ="/home/karuna0722/enter/envs/bnf/bin/samtools"
    bcftools_bin ="/home/karuna0722/enter/envs/bnf/bin/bcftools"

}

process {
    executor = "local"   // Change to "slurm" or "pbs" if using cluster
   
}






