// Nextflow configuration for your pipeline

params {
    reads = "\home\karuna0722\Nextflow\Data"       
    reference = "\home\karuna0722\Nextflow\reference"  

    fastqc_bin = "/home/karuna0722/enter/envs/bnf/bin/fastqc"  
    cutadapt_bin ="/home/karuna0722/enter/envs/bnf/bin/cutadapt"
    bwa_bin ="/home/karuna0722/enter/envs/bnf/bin/bwa"
    samtools_bin ="/home/karuna0722/enter/envs/bnf/bin/samtools"
    bcftools_bin ="/home/karuna0722/enter/envs/bnf/bin/bcftools"

}

process {
    executor = "local"   // Change to "slurm" or "pbs" if using cluster
   
}


