params {

fastqc_bin = "/home/karuna0722/enter/envs/bnf/bin/fastqc"
cutadapt_bin = "/home/karuna0722/enter/envs/bnf/bin/cutadapt"
bwa_bin = "/home/karuna0722/enter/envs/bnf/bin/bwa"
samtools_bin = "/home/karuna0722/enter/envs/bnf/bin/samtools"
bcftools_bin = "/home/karuna0722/enter/envs/bnf/bin/bcftools"

ref_genome = "/home/karuna0722/Nextflow/reference/chr22.fa"
fastq_dir = "/home/karuna0722/Nextflow/Data"
}

process{
    executor = "local"

}